.CardDeckSelector {
	position: absolute;
	z-index: 900;
	height: 200px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	transition: transform 1s;
	background-color: brown;
}
.CardDeckSelector-icon {
	display: inline-block;
	width: 100px;
}
.CardDeckSelector-icon:hover {
	transition: transform 1s;
	transform: scale(1.2);
}
