.MenuSlider {
	position: relative;
	display: flex;
	width: 90vw;
	overflow: hidden;
}
.MenuSlider-container {
	position: relative;
	z-index: 1000;
	display: flex;
	width: 500%;
	height: 50vh;
	flex-wrap: nowrap;
}
