.MenuSlider {
	position: relative;

	width: 90vw;
	overflow: hidden;
}
.MenuSlider-container {
	position: relative;
	display: flex;
	width: 400%;
	height: 50vh;
	flex-wrap: nowrap;
	margin-left: 0%;
	transition: all 1s;
}
